<div class="container">
  <h1>Profile </h1>
  <article>
    <p><strong>firstName: {{firstName}}</strong></p>
  </article>
  <article>
    <p><strong>Role: {{role}}</strong></p>
  </article>
  <article>
    <p><strong>Email: {{email}} </strong></p>
  </article>
  <article>
    <p><strong>Age: {{age}}</strong></p>
  </article>
  <a href="/api/sessions/logout">Log out</a>
</div>