<div class="container">
    <article>
        <form action="/api/session/out/register" method="post">
        <label for="firstName">
        FirstName:
        <input type="text" name="firstName" id="firstName" required /> 
                <label for="lastName">
        lastName:
        <input type="text" name="lastName" id="lastName" required />  

        <details role="list">
        <summary aria-haspopup="listbox">Role</summary>
        <ul role="listbox">
          <li>
            <label for="admin">
              <input type="radio" id="admin" name="role" value="admin" />
              Admin
            </label>
          </li>
          <li>
            <label for="user">
              <input type="radio" id="user" name="role" value="user" />
              User
            </label>
          </li>
        </ul>
      </details>
      <label for="email">
        Email:
        <input type="email" name="email" id="email" required />
      </label>
            <label for="age">
        Age:
        <input type="number" name="age" id="age" required />
      </label>
      <label for="password">
        Password:
        <input type="password" name="password" id="password" required />
      </label>

      <button type="submit">LOGIN</button>

        </form>
    </article>
</div>